.topline-plant-cm
    .content-topline-plant
        ul.l-tools-topline
            li.li-tools-topline.collection-tools-topline: a.link-tools-topline#collectionBtn(href='javascript:void(0);') 收藏本站
            li.li-tools-topline.setindex-tools-topline: a.link-tools-topline#sethomeBtn(href='javascript:void(0);') 设为首页
            li.li-tools-topline.desktop-tools-topline: a.link-tools-topline#desktopBtn(href='javascript:void(0);') 放到桌面
        .notice-topline: a(href='http://wan.liebao.cn/notice/60887.html', target='_blank') 金山猎豹游戏中心实名制认证通知
        ul.l-login-topline#loginList
            li.li-login-topline: a.link-login-topline(href='javascript:void(0);' id='headerRegistered') 注册
            li.line-login-topline |
            li.li-login-topline: a.link-login-topline(href='javascript:void(0);' id='headerLogin') 登录

        p.user-topline#headerUserTxt 欢迎您：<a class="link-username-topline" href="http://wan.liebao.cn/user" target="_blank" id="headerUsername"></a><a class="link-logout-topline" href="javascript:void(0);" id="headerLogout">[退出]</a>

.header-plant-cm
    .content-header-plant
        h1.logo-header-plant: a(href='http://wan.liebao.cn/', target='_blank') 金山猎豹游戏中心&nbsp;WAN.LIEBAO.CN
        ul.l-nav-header
            li.li-nav-header: a.link-nav-header(target='_blank', href='http://wan.liebao.cn/') 平台首页
            li.li-nav-header: a.link-nav-header(target='_blank', href='http://wan.liebao.cn/game/') 游戏中心
            li.li-nav-header: a.link-nav-header(target='_blank', href='http://wan.liebao.cn/gift/') 礼包中心
            li.li-nav-header: a.link-nav-header.hot-link-nav(target='_blank', href='http://vip.wan.liebao.cn/') 豹会员
            li.li-nav-header: a.link-nav-header(target='_blank', href='http://my.wan.liebao.cn/') 积分商场
            li.li-nav-header: a.link-nav-header(target='_blank', href='http://wan.liebao.cn/user/') 个人中心
            li.li-nav-header: a.link-nav-header(target='_blank', href='http://wan.liebao.cn/pay/') 充值中心
            li.li-nav-header.cur-nav-header: a.link-nav-header(target='_blank', href='http://wan.liebao.cn/service/') 客服中心
            li.li-nav-header: a.link-nav-header(target='_blank', href='http://wan.liebao.cn/bbs/') 游戏论坛