.content-footer-plant
    ul.l-top-footer
        li.li-top-footer.tutorship-top-footer
            h4.title-top-footer 未成年人家长监护工程
            p.text-top-footer MINOR PARENTS PROJECT
        li.li-top-footer.service-top-footer
            p.text-top-footer 在线客服：07:00~次日1:00<a class='link-service-footer' href='http://wan.liebao.cn/action/redirect_kf.php', target='_blank'>点击进入</a>
            p.text-top-footer 客服电话：400-610-7777
            p.text-top-footer 周一至周五 9:00-12:00；13:00-18:00

    p.wrap-links-footer <a class="link-links-footer" href='http://wan.liebao.cn/game/' target='_blank'>游戏中心</a>|<a class="link-links-footer" href=''http://wan.liebao.cn/user/?kstag=changeuserinfo' target='_blank'>帐号安全</a>|<a class="link-links-footer" href='http://wan.liebao.cn/service/' target='_blank'>客服中心</a>|<a class="link-links-footer" href='http://i.wan.liebao.cn/jz/jiazhang.htm' target='_blank'>家长监控</a>
    p.text-btm-footer
        span.part-btm-footer 抵制不良游戏
        span.part-btm-footer 拒绝盗版游戏
        span.part-btm-footer 注意自我保护
        span.part-btm-footer 谨防受骗上当
        span.part-btm-footer 适度游戏益脑
        span.part-btm-footer 沉迷游戏伤身
        span.part-btm-footer 合理安排时间
        span.part-btm-footer 享受健康生活
    p.text-remark-footer
        span.part-remark-footer: a.link-remark-footer(href='http://image.wan.liebao.cn/game/static/images/www.jpg', target='_blank') 京网文[2016]0672-054号
        span.part-remark-footer: a.link-remark-footer(href='http://image.wan.liebao.cn/game/static/images/icp.jpg', target='_blank') 京ICP证120823
    p.copyright-footer COPYRIGHT ©2012 <a class='link-copyright-footer' href='http://wan.liebao.cn' target='_blank'>WAN.LIEBAO.CN</a>. ALL RIGHTS RESERVED.
    a.safe-check(href='https://v.pinpaibao.com.cn/cert/site/?site=wan.liebao.cn&amp;at=business', title='安全联盟', target='_blank')