/*reset dialog*/
.dialog {
    top:0 !important;
    left:0 !important;
    margin-left:0 !important;
    width:490px !important;
    box-shadow: none;
    border-radius: 0;
}
.hd-dialog,.fork-dialog {
    display: none;
}
.l-content-area {
    max-height:165px;
}
.l-tab-area {
    padding-left:15px;
}
.l-tab-pikserver {
    padding-left:0;
}
.goback-aides {
    display: inline-block !important;
    position:absolute;
    z-index:999;
    right:26px;
    top:21px;
    color:#999;
    font-size:12px;
}
.goback-aides:hover {
    color:#999;

}

/*aides*/
.l-games-aides {
    padding:20px 20px;
}
.l-games-aides:after {
    content:'';
    display: block;
    height: 0;
    overflow: hidden;
    clear:both;
}
.li-games-aides {
    width:66px;
    height:95px;
    float: left;
    padding:0 10px 8px;
}
.link-games-aides {
    display: block;
    width:66px;
    height:95px;
}
.media-games-aides {
    width:66px;
    height:66px;
    overflow: hidden;
    border-radius: 3px;
}
.name-games-aides {
    height:28px;
    line-height:28px;
    font-size:12px;
    color:#6b6b6b;
    text-align: center;
}