doctype html
<!--[if lt IE 7 ]> <html lang="zh" class="ie6"><![endif]-->
<!--[if IE 7 ]><html lang="zh" class="ie7"><![endif]-->
<!--[if IE 8 ]><html lang="zh" class="ie8"><![endif]-->
<!--[if IE 9 ]><html lang="zh" class="ie9"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
html
    <!--<![endif]-->
    head
        title 一元猎宝
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome=1")
        //meta(http-equiv="X-UA-Compatible" content="IE=9")
        //meta(name="renderer" content="webkit")
        link(href="http://127.0.0.1:8088/main.css" rel="stylesheet" type="text/css")
    body
        block content

        div.footero
            div.footer
                p.lin
                    a(target="_blank" href="http://wan.liebao.cn/game_list.html") 游戏中心 |
                    a(target="_blank" href="http://wan.liebao.cn/user/?kstag=changeuserinfo") 帐号安全 |
                    a(target="_blank" href="http://wan.liebao.cn/action/redirect_kf.php?gid=1066") 客服中心 |
                    a(target="_blank" href="http://i.wan.liebao.cn/jz/jiazhang.htm") 家长监控
                p 抵制不良游戏　拒绝盗版游戏　注意自我保护　谨防受骗上当　适度游戏益脑　沉迷游戏伤身　合理安排时间　享受健康生活
                p.p3 软著登字第1123541号 | 新广出审[2016]383号
                p.dline
                    span  COPYRIGHT ©2012 #[a(href="http://wan.liebao.cn/" target="_blank") WAN.LIEBAO.CN] ALL RIGHTS RESERVED.

        script(src="http://127.0.0.1:8088/lib.js")
        //script(type="text/javascript" src="http://img.wan.ijinshan.com/thirdpart/jquery/1.8.2/jquery.min.js?t=201410311102")
        script(type="text/javascript" src="http://wan.liebao.cn/action/user_info.php?rt=5")
        script(type="text/javascript" src="http://img.wan.ijinshan.com/thirdpart/lucky/Helper/Login/1.0.1/Login.min.js?t=201410311102")
        script(type="text/javascript" src="http://img.wan.ijinshan.com/thirdpart/header/1.0.0/header_login.js?t=201410311102")
        //script(src="js/jquery.min.js")
        //script(src="js/tab.js")
        //script(src="js/jquery.slideBox.js")
        script.
            var cf = {
                scEvent: []
            };
        script(src="http://127.0.0.1:8088/main.js")