.left-pri
    ul.l-tab-left
        li.li-tab-left
            a.link-tab-left.currentlink-tab-left#platPriBtn(href='javascript:void(0);') 平台特权
            ul.l-subtab-left
                li.li-subtab-left.current-subtab-left#identy 特殊身份标识
                li.li-subtab-left#coupon 优惠券赠送
                li.li-subtab-left#birPackage 生日礼包
                //li.li-subtab-left#specPackage 特权礼包
        //li.li-tab-left.cauto
        li.li-tab-left
            //a.link-tab-left.disabled(href='javascript:void(0);') 游戏特权
            a.link-tab-left#GamePriBtn(href='javascript:void(0);') 游戏特权
            ul.l-subtab-left.none
                //li.li-subtab-left.disabled 敬请期待
                li.li-subtab-left#gameGift 游戏豪礼
                li.li-subtab-left#selfTitle 专属称号
                li.li-subtab-left#propHalo 属性光环
                li.li-subtab-left#priviPkg 特权礼包
        li.li-tab-left
            //a.link-tab-left.lastlink-tab-left.disabled(href='javascript:void(0);') 活动特权
            a.link-tab-left.lastlink-tab-left.disabled.currentlink-tab-left(href='javascript:void(0);') 活动特权
            ul.l-subtab-left
                li.li-subtab-left.disabled 敬请期待
                //li.li-subtab-left.current-subtab-left#aa 敬请期待
                //li.li-subtab-left#bb 敬请期待
.center-pri
    .box-pri(the-hock='identy')
        h3.title-box-pri 特殊身份标识
        p.text-box-pri 酷炫的“豹会员”身份标识，显示在金山猎豹游戏中心及会员中心。全平台彰显您的VIP尊贵身份。
        .img-identy: img(src='http://img.wan.ijinshan.com/vip/images/vipImg_03_1.jpg')
    .box-pri.none(the-hock='coupon')
        h3.title-box-pri 优惠券赠送
        p.text-box-pri 1、会员每月可在<a href="http://vip.wan.liebao.cn/unMember.html" class="hot">我的豹会员</a>中领取优惠券；<br />2、不同的会员身份、等级领取的优惠券的数量和额度不同；<br />3、当月领取的优惠券需要当月使用，过期失效；<br />4、优惠券需要在相应的使用条件下使用；
        .img-coupon
    .box-pri.none(the-hock='birPackage')
        h3.title-box-pri 生日礼包
        p.text-box-pri 1、会员每年生日当月可在<a href="http://vip.wan.liebao.cn/unMember.html" class="hot">我的豹会员</a>中领取平台特权中的生日礼包；<br />2、每个用户ID每年仅限领取一次；<br />3、生日礼包中礼品丰厚，既有游戏礼包又有平台礼包；
        h3.title-box-pri.mt20 游戏礼包
        p.text-box-pri 1、已加入豹会员福利的游戏可领取一次礼包并在任意区服兑换；
        .img-birgame
        h3.title-box-pri 平台礼包
        p.text-box-pri 1、包括超值折扣优惠券，身份越高领取到的优惠券折扣越大；<br />2、优惠券需要在领取当月使用；
        .img-birplant

    .box-pri.none(the-hock='gameGift')
        h3.title-box-pri 游戏豪礼
        p.text-box-pri 1、游戏豪礼主要为游戏内元宝道具与绑定元宝；<br />2、各游戏【游戏豪礼】内容不同，以游戏内为准；<br />3、成为豹会员即可每日在游戏内任意区服领取奖励；<br />4、不同等级会员可领取的奖励不同。
        .img-identy.img-identy-gpri: img(src='http://img.wan.ijinshan.com/vip/images/pPkg.png')
        p.smalltxt-box-pri （该图片只用于示例，针对不同游戏有不同设定）
    .box-pri.none(the-hock='selfTitle')
        h3.title-box-pri 专属称号
        p.text-box-pri 1、拥有独特外观展示效果，人群中让你更加闪耀；<br />2、专属称号具有时效性，豹会员服务过期时，称号会同时消失，再次开通豹会员可重新激活称号；<br />3、成为豹会员即可在游戏任意区服进行领取。
        .img-identy.img-identy-gpri: img(src='http://img.wan.ijinshan.com/vip/images/pTitle.png')
        p.smalltxt-box-pri （该图片只用于示例，针对不同游戏有不同设定）
    .box-pri.none(the-hock='propHalo')
        h3.title-box-pri 属性光环
        p.text-box-pri 豹会员用户可以在游戏内领取属性光环，无论在哪个区服，都可以让其他玩家看出你的成长潜力，PK打怪更轻松。
        .img-identy.img-identy-gpri: img(src='http://img.wan.ijinshan.com/vip/images/pProp.png')
        p.smalltxt-box-pri （该图片只用于示例，针对不同游戏有不同设定）
    .box-pri.none(the-hock='priviPkg')
        h3.title-box-pri 特权礼包
        p.text-box-pri 1、所有豹会员用户可在平台领取游戏特权礼包；<br />2、不同等级会员可领取的奖励不同；<br />3、每款游戏分为三类礼包，用户达到相应等级可领取相应分类的礼包，未达到的等级礼包不能领取；<br />4、同一款游戏同一分类同一用户仅限能领取一次。
        .img-identy: img(src='http://img.wan.ijinshan.com/vip/images/tabPri_3.png')
    //.box-pri.none(the-hock='bb') 敬请期待2
.clear