//
   Created by cm on 2016/8/22.
.charge_claimation
    .claimation_title
        span 如何开通网上银行？
        a(href='javascript:void(0);',the-id='chargeContinue') 返回列表>
    .claimation_content
        p 请您持本人银行卡和身份证到相应的银行营业网点申请办理开通网上银行支付功能。部分银行提供柜台、电话、网站开通等多种方式。您可以拨打银行卡卡片上的客服电话进行咨询。请您持本人银行卡和身份证到相应的银行营业网点申请办理开通网上银行支付功能。部分银行提供柜台、电话、网站开通等多种方式。您可以拨打银行卡卡片上的客服电话进行咨询。请您持本人银行卡和身份证到相应的银行营业网点申请办理开通网上银行支付功能。部分银行提供柜台、电话、网站开通等多种方式。您可以拨打银行卡卡片上的客服电话进行咨询。
        p 请您持本人银行卡和身份证到相应的银行营业网点申请办理开通网上银行支付功能。部分银行提供柜台、电话、网站开通等多种方式。您可以拨打银行卡卡片上的客服电话进行咨询。
        p 请您持本人银行卡和身份证到相应的银行营业网点申请办理开通网上银行支付功能。
        p 部分银行提供柜台、电话、网站开通等多种方式。您可以拨打银行卡卡片上的客服电话进行咨询。
        p 请您持本人银行卡和身份证到相应的银行营业网点申请办理开通网上银行支付功能。部分银行提供柜台、电话、网站开通等多种方式。
        p 您可以拨打银行卡卡片上的客服电话进行咨询。请您持本人银行卡和身份证到相应的银行营业网点申请办理开通网上银行支付功能。部分银行提供柜台、电话、网站开通等多种方式。您可以拨打银行卡卡片上的客服电话进行咨询。