p 我怎么进行游戏？
p 游戏以竞技形式进行，您可以点击屏幕上方的图片进入竞技大厅选择一个房间开始竞技，也可以在首页直接选择热门的房间开始竞技
p
p 我如何创建房间？
p 您可以在平台首页点击右上角加号图标，点击之后会弹出创建房间的窗口，您输入您的房间名字确认之后就成功创建了房间，可以等待其他玩家进入了。
p
p 我进行竞技有什么好处？
p 每次竞技我们都会根据最后结果进行结算，给您发放与您名次对应的奖励，请留意您的平台信箱。
