if month
    h4 month
else
    .row
        .col-xs-3
            =week
            br
            = date
        .col-xs-3!= f.icon('')
        .col-xs-6
            = -12
            br
            = msg
