.topView
    .topView-body

    .topView-ft

.mod-exchange
    .btn.btn-primary 聊天

.btnSend

.mod-send
    .row
        .col-xs-9.pr0
            input.form-control(id='msg' type='text')
        .col-xs-3
            a.sendMsg.btn.btn-primary 发送