if crumb
    #crumb.hidden-xs
        ul.breadcrumb
            each it in crumb
                if !it.label
                    -it.label = ii(it.key)
                if it.href
                    li
                        a(href='#{it.href}') #{it.label}
                else
                    li #{it.label}
