extends ../../../lib/tmpl/card

block ctn
    .card-block.clearfix.m-b-3

    .inputBox.bg-faded
        .col-xs-10.p-x-h
            input.form-control.input
        .col-xs-2.p-l-0.p-r-h.text-xs-right
            .btn.btn-secondary.p-x-0.text-xs-center.wf.send 发送