.mod-web.game {
  padding-left: 20px;
}
.mod-web.game .hd-web {
  padding-left: 40px;
  background: url('http://static.web.anqu.com/resource/999/images/icon_17.png') no-repeat 0 8px;
}
.mod-web.notice .hd-web {
  padding-left: 40px;
  background: url('http://static.web.anqu.com/resource/999/images/icon_19.png') no-repeat 0 8px;
}
.hd-web {
  height: 48px;
  line-height: 48px;
  font-size: 18px;
  color: #333;
  position: relative;
}
.more-hd-web {
  position: absolute;
  z-index: 2;
  top: 0;
  bottom: auto;
  left: auto;
  right: 5px;
  font-size: 12px;
  color: #666;
}
.media-web {
  display: block;
  width: 196px;
  float: left;
  margin-left: 9px;
  box-shadow: 2px 2px 4px #f1f1f1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=135, Color='#f1f1f1')";
}
.media-web.first {
  margin-left: 0;
}
.obj-media {
  position: relative;
  display: block;
  width: 196px;
  height: 164px;
}
.obj-media img {
  width: 196px;
  overflow: hidden;
}
.tip-obj-media {
  position: absolute;
  z-index: 2;
  top: auto;
  bottom: 0;
  left: 0;
  right: auto;
  display: block;
  width: 186px;
  height: 28px;
  line-height: 28px;
  background: rgba(0, 0, 0, 0.3);
  padding-right: 10px;
  display: none;
}
.link-tip-media {
  font-size: 12px;
  color: #fff;
  text-decoration: underline;
  margin: 0 4px;
  float: right;
}
.hd-media {
  padding: 0 8px 0 14px;
}
.hd-media:after {
  content: '';
  display: block;
  font-size: 0;
  width: 0;
  height: 0;
  overflow: hidden;
  clear: both;
}
.title-hd-media {
  display: inline-block;
  float: left;
  width: auto;
  height: 40px;
  line-height: 40px;
  font-size: 14px;
  color: #333;
}
.enter-hd-media {
  display: inline-block;
  float: right;
  width: auto;
  height: 40px;
  line-height: 40px;
  font-size: 12px;
  color: #3d9fed;
}
.l-notice-web {
  padding: 7px 0;
  background: #f5f5f5;
}
.li-notice-web {
  height: 30px;
  line-height: 30px;
}
.link-notice-web {
  display: block;
  padding-right: 15px;
  padding-left: 30px;
  background: url('http://static.web.anqu.com/resource/999/images/arrow_03.png') no-repeat 18px 9px;
  font-size: 14px;
  color: #666;
  overflow: hidden;
  text-overflow: ellipsis;
}
.link-notice-web:hover {
  padding-left: 30px;
  background: url('http://static.web.anqu.com/resource/999/images/arrow_06.png') no-repeat 18px 9px;
  font-size: 14px;
  color: #3d9fed;
}
.ft-notice-web {
  height: 40px;
  line-height: 40px;
  font-size: 16px;
  color: #333;
  padding-left: 74px;
  background: url('http://static.web.anqu.com/resource/999/images/icon_24.png') no-repeat 42px 5px;
  box-shadow: 1px 1px 4px #f1f1f1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=135, Color='#f1f1f1')";
}
.banner {
  width: 100%;
  position: relative;
  overflow: hidden;
  text-overflow: ellipsis;
}
.li-banner {
  display: none;
}
.li-banner img {
  width: 100%;
}
.l-btn-banner {
  position: absolute;
  z-index: 2;
  top: auto;
  bottom: 280px;
  left: 74.5%;
  right: auto;
}
.l-btn-banner:after {
  content: '';
  display: block;
  font-size: 0;
  width: 0;
  height: 0;
  overflow: hidden;
  clear: both;
}
.li-btn-banner {
  display: block;
  width: 25px;
  height: 11px;
  padding-left: 0;
  background: url('http://static.web.anqu.com/resource/999/images/btn_05.png') no-repeat 0 0;
  float: left;
  margin-right: 4px;
  cursor: pointer;
}
.li-btn-banner.active {
  padding-left: 0;
  background: url('http://static.web.anqu.com/resource/999/images/btn_03.png') no-repeat 0 0;
}
