//
   Created by Administrator on 2016/4/13.
doctype html
<!--[if lt IE 7 ]> <html lang="zh" class="ie6"><![endif]-->
<!--[if IE 7 ]><html lang="zh" class="ie7"><![endif]-->
<!--[if IE 8 ]><html lang="zh" class="ie8"><![endif]-->
<!--[if IE 9 ]><html lang="zh" class="ie9"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
html
    <!--<![endif]-->
    head
        title 金山《大天使之剑》2000钻石1元得
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome=1")
        //meta(http-equiv="X-UA-Compatible" content="IE=9")
        //meta(name="renderer" content="webkit")
        link(href="css/base.css" rel="stylesheet" type="text/css")
    body
        div.od_top
        div.od_couplet_left
            img(src="images/ios.png")
            h6 扫描二维码下载
            h3 一元猎宝（安卓版）
        div.od_couplet_right
            img(src="images/ios.png")
            h6 扫描二维码下载
            h3 一元猎宝（ios版）
        div.chuanqibaye
            img(src="images/chuanqibaye.png")
            div.chuanqi_warp
                div.chuanqi_inner
                    ul
                        li

                             a.introduce 猎宝介绍
                        li
                            a(href="#productsExhibition") 商品展示
                        li
                            a(href="#lbRule") 猎宝规则
                        li
                            a(href="#od_tips") 温馨提示
                        li
                            a(href="http://im.wan.liebao.cn/web/icc/chat/chat?c=1&s=3&st=1&depid=f2f0dd2244f831250145035774840049&userId=sxj0425&gid=0&sid=0" target="_target") 在线客服
        div.od_con
            div.od_con_detail
                div#introduceLB
                    img.od_de_title#introduceLB2(src="images/liebaojieshao.png" name="#introduceLB2")
                    div.od_de_step
                        img(src="images/liebaobuzhou.png")
                        p #[a(href="http://1.jdd.com/?frm=hd_0415yb-liebao" target="_blank")&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;]
                div#productsExhibition(name="#productsExhibition")
                    img.od_proExh(src="images/shangpinzhanshi.png")
                    ul
                        li.od_proExh_left
                            a.od_black(target="_blank" href="http://1.jdd.com/product/detail.aspx?id=53&frm=hd_0415zs-liebao")
                                img(src="images/fivedollar.png")
                            h2 1000钻石
                            a.od_href(target="_blank" href="http://1.jdd.com/product/detail.aspx?id=53&frm=hd_0415zs-liebao" )
                        li.od_proExh_right
                            a.od_black(target="_blank" href="http://1.jdd.com/product/detail.aspx?id=54&frm=hd_0415zs-liebao")
                                img(src="images/ten.png")
                            h2 2000钻石
                            a.od_href(target="_blank" href="http://1.jdd.com/product/detail.aspx?id=54&frm=hd_0415zs-liebao")
                        div.clear
                div#lbRule(name="#lbRule")
                    img.od_lbimg(src="images/liebaoguize.png")
                    p.od_lb_p 猎宝中只需少额猎宝币就有可能买到游戏元宝，也就是把一件商品平分成若干“等份”出售，每份为固定猎宝币，1份商品对应1个猎宝码。每个玩家同一件商品可以购买多次或一次购买多份，买的越多获得该商品的几率越大。当一件商品所有“等份”售出后系统将根据规则计算出1个幸运号码，拥有此幸运号码的用户将成为幸运者获得此商品。

                    img(src="images/whatyiyuanbao.png")
                    div.od_lbru_warp
                        div.od_lbrule_mark
                        div.od_rule
                            h2  幸运号码计算规则
                            p 1.  商品的最后一个号码分配完毕后，将公示该分配时间点前本站全部商品的最后50个参与时间；
                            p 2.  将这50个时间的数值进行求和（得出数值A）（每个时间按时、分、秒、毫秒的顺序组合，如20:15:25.362则为201525362
                            p 3.  为保证公平公正公开，系统还会等待一小段时间，取最近下一期中国福利彩票“老时时彩”的揭晓结果（一个五位数值B）；
                            p 4.  （数值A+数值B）除以该商品总需人次得到的余数 + 原始数 10000001，得到最终幸运号码，拥有该幸运号码者，直接获得该商品。
                            h3 注：如遇福彩中心通讯故障，无法获取上述期数的中国福利彩票“老时时彩”揭晓结果，且24小时内该期“老时时彩”揭晓结果仍未公布，则默认“老时时彩”揭晓结果为00000。
                div#od_tips(name="#od_tips")
                    img.od_lbimg(src="images/wenxintishi.png")
                    div.od_tips_del
                        p 1. 获得猎宝币可在 #[a(href="http://1.jdd.com/?frm=hd_0415yb-liebao" target="_blank") “我的猎宝-充值记录”]中查看明细。
                        p 2. 如对猎宝有什么不明之处，请在参与前联系客服。中奖后客服会在两个工作日内与您联系，请保持注册时使用的手机号码通讯畅通，奖励会在核实信息后的三个工作日内进行发放。
                        p 3. #[a(href="http://1.jdd.com/?frm=hd_0415yb-liebao" target="_blank") 一元猎宝]官方有权在必要时通过在站内发出公告等合理方式修改本次猎宝规则，为了保证您收到最新通知，建议您关注官网公告。
        div.footero
            div.footer
                p.lin
                    a(target="_blank" href="http://wan.liebao.cn/game_list.html") 游戏中心 |
                    a(target="_blank" href="http://wan.liebao.cn/user/?kstag=changeuserinfo") 帐号安全 |
                    a(target="_blank" href="http://wan.liebao.cn/action/redirect_kf.php?gid=1066") 客服中心 |
                    a(target="_blank" href="http://i.wan.liebao.cn/jz/jiazhang.htm") 家长监控
                p 抵制不良游戏　拒绝盗版游戏　注意自我保护　谨防受骗上当　适度游戏益脑　沉迷游戏伤身　合理安排时间　享受健康生活
                p.p3 软著登字第1123541号 | 新广出审[2016]383号
                p.dline
                    span COPYRIGHT ©2012 #[a(href="http://wan.liebao.cn/" target="_blank") WAN.LIEBAO.CN] ALL RIGHTS RESERVED.
        //script (src="http://libs.baidu.com/jquery/1.8.3/jquery.min.js")
        script(src="js/jquery.min.js")
        script(src="js/index.js")
        script(type="text/javascript")  var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1258602760'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s4.cnzz.com/z_stat.php%3Fid%3D1258602760%26show%3Dpic1' type='text/javascript'%3E%3C/script%3E"));

