<div class="panel panel-primary">
    <div class="panel-heading" ng-bind="$ctrl.title"></div>
    <div class="panel-body">
        <!--<form class="form-horizontal">-->
        <form class="form-horizontal" ng-submit="$ctrl.submitForm();">
            <div class="form-group" ng-repeat="control in $ctrl.controls">
                <label for="{{control.code}}" class="col-sm-2 control-label" ng-bind="control.label+'：'"></label>
                <div class="col-sm-10">
                    <input class="form-control" ng-if="control.type=='text'" type="text" id="{{control.code}}" name="{{control.code}}" ng-model="$ctrl.content[control.code]" ng-required="{{control.required}}" />
                    <textarea class="form-control" ng-if="control.type=='textarea'" id="{{control.code}}" name="{{control.code}}" ng-model="$ctrl.content[control.code]" ng-required="{{control.required}}" style="resize: none" rows="8"></textarea>
                    <div ng-if="control.type=='radio'">
                        <div class="btn-group" data-toggle="buttons">
                            <label ng-repeat="radio in control.radios" ng-bind="radio.n" ng-click="$ctrl.switchRadios($event,control,radio);" class="btn btn-default btn-sm"></label>
                        </div>
                        <div ng-repeat="it in control.radios" ng-if="it.controls && $ctrl.content[control.code]==it.v" class="mt10">
                            <div ng-repeat="subcontrol in it.controls">
                                <datetime-picker ng-if=" subcontrol.type=='date' " ctx="subcontrol" model="$ctrl.radioContent[subcontrol.code].val" ng-init="$ctrl.initRadioControl(subcontrol);"></datetime-picker>
                            </div>
                        </div>
                    </div>
                    <select class="form-control" ng-if="control.type=='select'" id="{{control.code}}" ng-init="$ctrl.initSlt(control);" name="{{control.code}}" ng-model="$ctrl.content[control.code]" ng-required="{{control.required}}">
                        <option value="">---{{control.nonsense}}---</option>
                        <option ng-repeat="it in control.option" ng-value="it[control.refer_v]" ng-bind="it[control.refer_n]"></option>
                    </select>

                    <div ng-if="control.type=='exCheckbox'">
                        <div class="form-inline" ng-repeat="item in control.items">
                            <div class="form-group">
                                <label for="{{item.id}}" ng-bind="item.label"></label>
                                <input id="{{item.id}}" type="checkbox" name="{{control.code}}" ng-model="item.checked" ng-init="$ctrl.exInit(item);" ng-change="$ctrl.exChanged(item);" />
                            </div>
                            <div class="form-group" ng-repeat="subcontrol in item.controls" >
                                <input class="form-control" ng-if="subcontrol.type=='number'"  id="{{subcontrol.id}}" type="number" ng-model="$ctrl.exContent[subcontrol.code] " ng-disabled="!item.checked" />
                                <select class="form-control" ng-if="subcontrol.type=='select'" id="{{subcontrol.id}}" ng-model="$ctrl.exContent[subcontrol.code]" ng-disabled="!item.checked">
                                    <option value="">---{{subcontrol.nonsense}}---</option>
                                    <option ng-repeat="option in subcontrol.option" ng-value="option[subcontrol.refer_v]" ng-bind="option[subcontrol.refer_n]"></option>
                                </select>
                                <label ng-if="subcontrol.unit" ng-bind="subcontrol.unit"></label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-10 col-sm-push-2">
                    <button class="btn btn-primary">提交</button>
                </div>
            </div>
            <input type="hidden" ng-repeat="(k, v ) in $ctrl.extparm" id="{{k}}" name="{{k}}" ng-value="v" />
        </form>
    </div>
</div>