html{color:#000;background:#FFF; -webkit-text-size-adjust:none;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td{margin:0;padding:0;box-sizing:content-box;}
table{border-collapse:collapse;border-spacing:0;}
fieldset,img{border:0;}
address,caption,cite,code,dfn,em,strong,th,var,optgroup{font-style:inherit;font-weight:inherit;}
del,ins{text-decoration:none;}
li{list-style:none;}
caption,th{text-align:left;}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}
q:before,q:after{content:'';}
abbr,acronym{border:0;font-variant:normal;}
sup{vertical-align:baseline;}
sub{vertical-align:baseline;}
legend{color:#000;}
input,button,textarea,select,optgroup,option{font-family:inherit;font-size:inherit;font-style:inherit;font-weight:inherit;}
input,button,textarea,select{*font-size:100%;}
input:focus{
    outline: none;
}
.regMask{
    width: 100%;
    height: 100%;
    background-color: #000;
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0.5;
    z-index: 3;
    /*display: none;*/
}
/*20160822*/
.login-warp{
    display: block;
    width: 754px;
    height: 557px;
    background-image: url(../images/loginBg.png);
    position: absolute;
    left: 50%;
    margin-left: -377px;
    top:50%;
    margin-top: -280px;
    font-family: "微软雅黑";
    z-index: 4;
}
.login-warp .login-top{
    text-indent: -999px;
    overflow: hidden;
    height: 56px;
    border-bottom: 0;
    z-index: auto;
    margin-top: 215px;
}
.login-warp .login-top .login-close{
    position: absolute;
    top: 10px;
    right: 11px;
    display: block;
    width: 22px;
    height: 221px;
}
.login-warp .login-top .login-close .ico-close{
   display: block;
   background: url(http://image.wan.liebao.cn/static/images/dialog/close2.png) no-repeat;
    _background: url(http://image.wan.liebao.cn/static/images/dialog/close2-p8.png) no-repeat;
    width: 100%;
    height: 100%;
    cursor: pointer;

}
/*tab切换*/
.login-detail {
    margin: 0px auto;
    width: 390px;
    height: auto;
}
  
.login-detail .caption {
    position: relative;
    margin: auto;
    height: 36px;
    width: 420px;
    margin-left: 50px;
}
  
.login-detail .caption ul {
    position: absolute;
    width: 420px;
    /*left: -1px;*/
   /* margin-left: 50px;*/

}
  
.login-detail .caption li {
    text-align: center;
    line-height: 36px;
    padding-left: 0px;
    width: 199px;
    float: left;
    height: 36px;
    overflow: hidden;
    padding-top: 0px;
    cursor: pointer;
    font-size: 20px;
    color: #fff;
    background-image: url('../images/nobg.png');
    margin-left: 10px;
}
  
.login-detail .caption li.select {
  background-image: url('../images/hasPng.png');
}
  
.login-detail .caption li a {
    color: #fff;
    font-size: 20px;
    text-decoration: none;
}
/*.login-detail .caption .select a {
    color: #4c4c4c;
   
} */ 
.login-detail #content {
    position: absolute;
   /* background-color: #fff;*/
    margin: auto;
    width: 420px;
    height: auto;
}
#content .common-input{
    width: 530px;
    margin: 0 auto;
    height: 30px;
    margin-bottom: 10px;
}
/*#content .common-input.hasFocus{
    border: 1px solid #3d9fed;
}*/
.loginInput .login_icon_user{
    width: 95px;
    margin-top: 7px;
    display: inline-block;
    font-size: 18px;
    color: #fff;
    text-align: right;
    margin-right: 5px;
}
#content .common-input .not{
    color: #fff;
    font-size: 14px;
    margin-left: 5px;
    vertical-align: -26px;
}
.fl{
    float: left;
}
#keymail{
    border: 0;
    font-size: 14px;
    width: 238px;
    border-left: 1px solid #000;
    padding: 0 5px;
    margin: 6px 0;
    background-color: #000;
    opacity: 0.5;
    height: 30px;
    line-height: 30px;
    color: #fff;
}
.loginInputPwd .login_icon_password{
    width: 255px;
    margin-top: 7px;
    display: inline-block;
    font-size: 18px;
    color: #fff;
    margin-right: 5px;
    margin-left: 22px;
}
#content #yl-login{
   margin-right: 7px;
   /*background-color: #ccc;*/
}
#password{
    border: 0;
    font-size: 14px;
    width: 238px;
    border-left: 1px solid #000;
    padding: 0 5px;
    margin: 6px 0;
    background-color: #000;
    opacity: 0.5;
    height: 30px;
    line-height: 30px;
    color: #fff;
    position: relative;
    left: 100px;
    top: -30px;
}
.common-input-code{
    width: 211px;
    /* margin: 0 auto; */
    margin-left: 52px;
    height: 30px;
    background-color: #fff;
    margin-bottom: 10px;
    border: 1px solid #d3d3d3;
}
.common-input-code.hasFocus{
   border: 1px solid #3d9fed; 
}
#content .loginInput{
    margin-top: 30px;
}
.loginInputCode .login_icon_code{
    background: url(../images/yanzhengma.jpg) no-repeat;
    width: 18px;
    height: 17px;
    margin-top: 4px;
    /**margin-top: 0px;*/
    /* margin-bottom: 7px; */
    *position: relative;
    *top:-4px;
    *left:2px;
    *right: 4px;
    display: inline-block;
    margin-left: 9px;
    margin-right: 4px;
    margin-right: 8px;
    position: relative;
    top: 4px;
    *padding-right: 4px;
}
#identifyingcode{
    border: 0;
    /* padding: 7px 0; */
    font-size: 14px;
    width: 170px;
    border-left: 1px solid #e9e9e9;
    padding-left: 5px;
    margin: 6px 0;
}
.login-error{
    color: #ff740d;
    font-size: 12px;
    margin-bottom: -25px;
    margin-left: 94px;
    margin-top: 10px;
    display: none;
}
.login-error1{
    color: #ff740d;
    font-size: 12px;
    margin-bottom: -25px;
    margin-left: 94px;
    margin-top: 10px;
    display: none;
}
.codebyImg{
    position: absolute;
    left: 59%;
    top: 50%;
    margin-top: -6px;
    display: inline-block;
    height: 40px;
    margin-left: 39px;
    cursor: pointer;
}
#content .rmline{
    width: 235px;
    margin: 0 auto;
    position: relative;      
    left: -149px;
    top: 10px;
}
#content .rmline label{
    color: #fff;
    font-size: 12px;
    vertical-align: 3px;
    margin-left: 5px;
}
#content .rmline a{
    color: #f0641e;
    text-decoration: none;
    font-size: 12px;
    float: right;
    *position:relative;
    *top:-18px;
     _position:relative;
    _top:-10px;

}
#content .login-line{
    width: 400px;
    margin: 0 auto;
    border: 1px dashed #d3d8e2;
    margin-top: 10px;
    height: 0;

}
#content .login-btn{
    width: 280px;
    margin: 0 auto;
    margin-top: 20px;
}
#content .login-btn a,.regist-inner .qqlogin{
    display: inline-block;
    width: 239px;
    text-align: center;
    height: 50px;
    line-height: 50px;
    border-radius: 5px;
    color: #fff;
    margin-left: 65px;
    margin-top: 1px;
    text-decoration: none;
}
.regist-inner{
    width: 480px;
    margin: 0 auto;
    color: #fff;
    font-size: 18px;
    margin-left: 50px;
    margin-top: 10px;
}
.regist-inner .txt{
    width: 235px;
    height: 30px;
    line-height: 30px;
    border: 1px solid #000;
    padding: 0 5px;
    margin-left:5px;
    background-color: #000;
    opacity: 0.5;
    outline: none;
    color: #fff;
}

.regist-inner .txt.ableColor{
    border: 1px solid #f0641e;
}
.regist-inner .not{
    font-size: 14px;
    color: #fff;
    margin-left: 4px;
    vertical-align: 2px;

}
.regist-inner .not.hasError{
    color: #ff740d;
}
.regist-inner .code-regist{
    height: 30px;
    line-height: 30px;
    padding-left: 5px;
    border: 1px solid #d3d3d3;
    width: 161px;
   margin-left: 8px;
}
.regist-inner .code-regist.hasFocus{
    border: 1px solid #3d9fed;
}
.regist-inner .code-regist.yl-error{
    border: 1px solid #f0641e;
}
.regist-inner .code-regist.re-error{
    border: 1px solid #f0641e;
}
.regist-inner .regist-img{
    height: 40px;
    vertical-align: middle;
    cursor: pointer;
    margin-left: 7px;
    *vertical-align: -5px;

}
.regist-inner .zhuce{
    display: inline-block;
    width: 239px;
    text-align: center;
    height: 50px;
    line-height: 50px;
    border-radius: 5px;
    font-size: 16px;
    color: #fff;
    margin-left: 54px;
    margin-top: 18px;
    text-decoration: none;
    /*text-indent: -99999px;*/
    z-index: 2;
}
.regist-inner .bts{
    margin-left: 30px;
    margin-top: 10px;
}
.regist-inner .rmline-reg{
    width: 213px;
    *width:220px;
    _width:230px;
    margin: 0 auto;
    color: #8f8f8f;
    font-size: 12px;
    /*vertical-align: 2px;*/
}
.regist-inner .rmline-reg label{
    vertical-align: 2px;
    /**vertical-align: 0px;*/
    _vertical-align: 0px;
}
.regist-inner .rmline-reg a{
    text-decoration: none;
    vertical-align: 2px;
}
.regist-inner label{
    *vertical-align: 7px;
}
.regist-inner .qqlogin{
    margin-left: 5px;
}
/*错误样式*/
#content .yl-error{
    border: 1px solid #f0641e;
}
.regist-inner{
    *width: 346px;
}
#content #yl-login.ableColor{
    background-color: #ff740d;
}
.regist-inner .formline label{
    width: 73px;
    display: inline-block;
    text-align: right;
}

.regist-inner .formline{
    margin-bottom: 10px;
}
.register-error{
    color: #ff740d;
    font-size: 12px;
    margin-left: 65px;
    margin-bottom: 10px;
    height: 12px;
}
#register{
    margin-bottom: 20px;
}