extends ./inc/main
block css
    link(type='text/css',rel='stylesheet',href='http://img.wan.ijinshan.com/vip/css/system.css')
block js
    script(type='text/javascript',src='http://img.wan.ijinshan.com/vip/js/system.js')
block variable
    -var curPage='system'

block content
    .main
        .mod-vip.mt45
            .hd-vip
                //a.link-hd-sys(href='/payOpen.html') 开通豹会员
                a.btn-open-sys(href='javascript:void(0)',data-href='/payOpen.html') 开通豹会员
                .box-rebtn-sys.re
                    p.tip-btn-disabled.none 您的会员时间已充满
                    a.btn-re-sys.none(href='/payRe.html') 续费豹会员
                .box-rebtn-sys.up
                    p.tip-btn-disabled.none 您的会员等级已达最高级
                    a.btn-up-sys.none(href='/payUp.html') 升级豹会员

                h3.title-hd-vip V等级与成长值
                h4.subtitle-hd-vip ”豹会员“目前已开放5个等级，分别为<span class="orange">V1</span>至<span class="orange">V5</span>，等级高低取决于成长值数量
            .bd-vip
                .content-bd-vip
                    .banner-sys: img(src='http://img.wan.ijinshan.com/vip/images/banner-sys_07.jpg')
                    table.table-v-sys(align='center',border='0',cellspacing="0",cellpadding="0")
                        tr.tr-grey(bgcolor='#f5f5f5')
                            th(width=180,height=69) V等级
                            th: em v1
                            th: em v2
                            th: em v3
                            th: em v4
                            th: em v5
                        tr
                            td(width=180,height=69) 成长值
                            td 0
                            td 700
                            td 2200
                            td 6000
                            td 12000
        .mod-vip
            .hd-vip
                h3.title-hd-vip 成长值来源
                h4.subtitle-hd-vip 成长值主要来源为每日<span class="orange">系统赠送</span>以及<span class="orange">活动获得</span>，当用户会员服务停止时，成长值也会<span class="primary">每日递减</span> ，同时每次<span class="orange">开通或升级会员</span>，系统也会赠送一定量的基础值
            .bd-vip
                .content-bd-vip
                    .formula-sys 成长值=基础值+每日累计成长值+升级赠送成长值+活动赠送成长值-过期下降成长值（衰减）
                    ul.l-formula-sys
                        li.li-formula-sys <span class="warning">黄金</span>月费<span class="warning">会员</span>计算公式：<span class="orange">V</span>=50*<span class="primary">A</span>+20*<span class="primary">B</span>+<span class="primary">C</span>+<span class="primary">D</span>-20*<span class="suc">E</span>
                        li.li-formula-sys <span class="primary">铂金</span>月费<span class="primary">会员</span>计算公式：<span class="orange">V</span>=100*<span class="primary">A</span>+30*<span class="primary">B</span>+<span class="primary">C</span>+<span class="primary">D</span>-20*<span class="suc">E</span>
                        li.li-formula-sys <span class="warning">黄金年费会员</span>计算公式：<span class="orange">V</span>=700*<span class="primary">A</span>+20*<span class="primary">B</span>+<span class="primary">C</span>+<span class="primary">D</span>-20*<span class="suc">E</span>
                        li.li-formula-sys <span class="primary">铂金年费会员</span>计算公式：<span class="orange">V</span>=2200*<span class="primary">A</span>+30*<span class="primary">B</span>+<span class="primary">C</span>+<span class="primary">D</span>-20*<span class="suc">E</span>
                    .desc-formula-sys
                        p.text V: 会员成长值（每日更新，当天用户成长值次日生效）
                        p.text A：会员开通次数
                        p.text B：会员累计天数
                        p.text C：升级会员系统赠送成长值（升级身份不同，赠送量不同）
                        p.text D：不定期举行活动赠送不等量成长值
                        p.text E：V>0时，累计的非会员天数（当V减少到0的时候，将不再减少）
        .mod-vip
            .hd-vip
                h3.title-hd-vip 成长值获取明细
                h4.subtitle-hd-vip 成长值越高=V等级越高=更多更优质的会员特权
            .bd-vip
                .content-bd-vip
                    table.table-detail-sys(align='center',border='0',cellspacing="0",cellpadding="0")
                        tr.tr-blue(bgcolor='#8ad0ff')
                            th(colspan=2,height=56) 会员身份
                            th 开通赠送基础值
                            th 每日积累
                            th 过期下降
                            th 活动赠送
                        tr
                            td(rowspan=2) 年费会员
                            td(height=48) 铂金会员
                            td 2200
                            td 30点/天
                            td -20点/天
                            td 不定期开展
                        tr
                            td 黄金会员
                            td 700
                            td 20点/天
                            td -20点/天
                            td 不定期开展
                        tr
                            td(rowspan=2) 月费会员
                            td 铂金会员
                            td 100
                            td 30点/天
                            td -20点/天
                            td 不定期开展
                        tr
                            td 黄金会员
                            td 50
                            td 20点/天
                            td -20点/天
                            td 不定期开展

        .mod-vip
            .hd-vip
                h3.title-hd-vip 会员身份
                h4.subtitle-hd-vip 会员服务分为<span class="primary">年费会员</span>及<span class="primary">月费会员</span>，并设有<span class="orange">铂金会员</span>和<span class="orange">黄金会员</span>身份
            .bd-vip
                .content-bd-vip
                    .panel-sys.panel-primary
                        .heading-panel-sys.title-y-p 铂金年费会员
                        .body-panel-sys
                            .txt <b>规则：</b>一次性开通“豹会员”铂金会员服务时长<span class="orange">超过</span>372天，或用户未使用铂金会员服务天数达到372天，即升级为铂金年费会员。
                            .txt <b>费用：</b>RMB<span class="orange">360元/年</span>，自开通之日起372天。
                            .txt <b class="txt-icon">标识：</b><span class="icon-sys y-p-1"></span><span class="icon-sys y-p-2"></span><span class="icon-sys y-p-3"></span><span class="icon-sys y-p-4"></span><span class="icon-sys y-p-5"></span>
                    .panel-sys.panel-orange
                        .heading-panel-sys.title-y-g 黄金年费会员
                        .body-panel-sys
                            .txt <b>规则：</b>一次性开通“豹会员”黄金会员服务时长<span class="orange">超过</span>372天，或用户未使用黄金会员服务天数达到372天，即升级为黄金年费会员。
                            .txt <b>费用：</b>RMB<span class="orange">120元/年</span>，自开通之日起372天。
                            .txt <b class="txt-icon">标识：</b><span class="icon-sys y-g-1"></span><span class="icon-sys y-g-2"></span><span class="icon-sys y-g-3"></span><span class="icon-sys y-g-4"></span><span class="icon-sys y-g-5"></span>
                    .panel-sys.panel-primary
                        .heading-panel-sys.title-m-p 铂金月费会员
                        .body-panel-sys
                            .txt <b>规则：</b>一次性开通“豹会员”铂金会员服务时长<span class="orange">不足</span>372天，为铂金月费会员。
                            .txt <b>费用：</b>RMB<span class="orange">30元/月</span>，自开通之日起31天。
                            .txt <b class="txt-icon">标识：</b><span class="icon-sys m-p-1"></span><span class="icon-sys m-p-2"></span><span class="icon-sys m-p-3"></span><span class="icon-sys m-p-4"></span><span class="icon-sys m-p-5"></span>
                    .panel-sys.panel-orange
                        .heading-panel-sys.title-m-g 黄金月费会员
                        .body-panel-sys
                            .txt <b>规则：</b>一次性开通“豹会员”黄金会员服务时长<span class="orange">不足</span>372天，为黄金月费会员。
                            .txt <b>费用：</b>RMB<span class="orange">10元/年</span>，自开通之日起31天。
                            .txt <b class="txt-icon">标识：</b><span class="icon-sys m-g-1"></span><span class="icon-sys m-g-2"></span><span class="icon-sys m-g-3"></span><span class="icon-sys m-g-4"></span><span class="icon-sys m-g-5"></span>
                    .clear




