body,div,h1,h2,h3,h4,h5,h6,p,span,ul,li,a,button {
    margin:0;
    padding:0;
}
h1,h2,h3,h4,h5,h6 {
    font-weight: normal;
}
ul,li {
    list-style: none;
}
body {
    font-size:14px;
    font-family: 'Microsoft YaHei';
    overflow:hidden;
}

.mod-svip {
    width:450px;
    height:398px;
    overflow:hidden;
}
.hd-svip {
    padding-top:20px;
}
.bd-svip,.ft-svip {
    margin:0 12px;
    padding:0 12px;
    overflow:hidden;
    font-size:0;

}
.bd-svip {
    padding-bottom:4px;
}
.ft-svip {
    border-top:1px solid #e6e6e6;
    display: none;
}
/*bd*/
.title-hd-svip {
    height:30px;
    line-height:30px;
    text-align: center;
    font-size:18px;
    font-weight: bold;
    letter-spacing: 1px;
    color:#fe8a6b;
}

.title-bd-svip {
    padding-top:1px;
    height:34px;
    line-height:34px;
    font-size:14px;
    color:#333;
    font-weight: bold;
}
.tip-bd-svip {
    height:32px;
    line-height:32px;
    font-size:12px;
    color:#e50000;
    letter-spacing: 1px;
}
.l-bd-svip {}
.li-bd-svip {
    font-size:12px;
    color:#808080;
    height:20px;
    line-height: 20px;
}
/*ft*/
/*condition*/
.title-undone-svip {
    padding-top:14px;
    height:24px;
    line-height:24px;
    font-size:14px;
    color:#333;
    font-weight: bold;
}
.l-undone-svip {

}
.li-undone-svip {
    height:43px;
    margin-bottom:6px;
    position: relative;
}
/*done*/
.title-done-svip, .tip-done-svip {
    text-align: center;
}
.title-done-svip {
    padding-top:36px;
    height:38px;
    line-height:38px;
    font-size:18px;
    font-weight:bold;
    color:#fe8a6b;
}
.tip-done-svip {
    height:28px;
    line-height:28px;
    font-weight: bold;
    font-size:14px;
    color:#4c4c4c;
}
.link-contact-svip {
    display:block;
    margin:22px auto 0;
    width:158px;
    height:34px;
    line-height: 34px;
    background:#47c5a7;
    text-align: center;
    font-size:16px;
    color:#fff;
    border-radius: 4px;
    text-decoration: none;
}

/*undone*/
.l-undone-svip {}
.li-undone-svip {
    height:43px;
    margin-bottom:6px;
    position:relative;
}

.title-li-undone {
    height:30px;
    line-height:30px;
    font-size:12px;
    color:#808080;
}
.title-li-undone span {
    margin:0 6px;
}
.title-li-undone .first {
    margin-left:0;
}
.title-li-undone .orange {
    color:#fe8a6b;
}

.btn-li-undone {
    display: block;
    position: absolute;
    z-index:2;
    bottom:-3px;
    right:0;
    width:84px;
    height:26px;
    background: #ccc;
    border-radius: 3px;

    line-height: 26px;
    text-align: center;
    font-size:12px;
    color:#fff;
    cursor: default;
}

.process-li-undone {
    width:300px;
    height:13px;
    line-height: 13px;
    position: relative;
    background:#e6e6e6;
    border-radius: 6px;
}
.bar-process-undone {
    position: absolute;
    z-index:2;
    display: block;
    height:13px;
    background: #47c5a7;
    border-bottom-left-radius: 6px;
    border-top-left-radius: 6px;
}
.num-process-undone {
    position: absolute;
    z-index:3;
    display: block;
    width:100%;
    text-align: center;
    font-size:12px;
    color:#fff;
}