.input-group.date.form_datetime(data-date='', data-date-format='')
    input.form-control.sel_datetime( type='text', name='{{ctx.code}}', ng-required='ctx.required', placeholder='{{ctx.label}}', id='{{ctx.code}}')
    span.input-group-addon
        span.glyphicon.glyphicon-remove
    span.input-group-addon
        span.glyphicon.glyphicon-th


//ng-model='model', ng-value='model'