button.navbar-toggle.collapsed(type='button')&attributes(attrs||{'data-toggle':'collapse'})
    if icon
        != f.icon(icon)
    else
        span.icon-bar
        span.icon-bar
        span.icon-bar