.modal-dialog(class= modalSize)
    .modal-content(class= ctxClass)
        if head
            .modal-header
                if closeBtn
                    button.close(class=closeBtn type='button', data-dismiss='modal', aria-hidden='true') ×
                if title
                    .modal-title= title
                if toolbar
                    .toolbar.topCtn
        if ctx && ctx._filter
            .modal-body.text-xs-center
                != ctx._filter()

        #{tag||'div'}(class= "#{tagClass||'modal-body'}")
            != _content

        if foot
            .modal-footer

