.panel(class= style)
    if head
        .panel-heading
            if title
                .panel-title
                    strong!= title
                if toolbar
                    .toolbar.btnCtn


    #{tag || 'div'}(class= tagClass || 'panel-body')
        != _content

    if foot
        .panel-footer.clearfix