.left-pri
    ul.l-tab-left
        li.li-tab-left
            a.link-tab-left.currentlink-tab-left(href='javascript:void(0);') 平台特权
            ul.l-subtab-left
                li.li-subtab-left.current-subtab-left#identy 特殊身份标识
                li.li-subtab-left#coupon 优惠券赠送
                li.li-subtab-left#birPackage 生日礼包
                //li.li-subtab-left#specPackage 特权礼包
        li.li-tab-left
            a.link-tab-left.disabled(href='javascript:void(0);') 游戏特权
            ul.l-subtab-left.none
                li.li-subtab-left.current-subtab-left#a 特殊身份标
                li.li-subtab-left#b 优惠券赠
                li.li-subtab-left#c 生日礼
                li.li-subtab-left#d 特权礼
        li.li-tab-left
            a.link-tab-left.lastlink-tab-left.disabled(href='javascript:void(0);') 活动特权
            ul.l-subtab-left.none
                li.li-subtab-left.current-subtab-left#aa 特殊身份
                li.li-subtab-left#bb 优惠券
                li.li-subtab-left#cc 生日
                li.li-subtab-left#dd 特权
.center-pri
    .box-pri(the-hock='identy')
        h3.title-box-pri 特殊身份标识
        p.text-box-pri 酷炫的“豹会员”身份标识，显示在金山猎豹游戏中心及会员中心。全平台彰显您的VIP尊贵身份。
        .img-identy: img(src='http://img.wan.ijinshan.com/vip/images/vipImg_03.jpg')
    .box-pri.none(the-hock='coupon')
        h3.title-box-pri 优惠券赠送
        p.text-box-pri 1、会员每月可领取优惠券；<br />2、不同的会员身份、等级领取的优惠券的数量和额度不同；<br />3、当月领取的优惠券需要当月使用，过期失效；<br />4、优惠券需要在相应的使用条件下使用；
        .img-coupon
    .box-pri.none(the-hock='birPackage')
        h3.title-box-pri 生日礼包
        p.text-box-pri 1、豹会员每年生日当月可领取平台特权中的生日礼包；<br />2、每个用户ID每年仅限领取一次；<br />3、生日礼包中礼品丰厚，既有游戏礼包又有平台礼包；
        h3.title-box-pri.mt20 游戏礼包
        p.text-box-pri 1、已加入豹会员福利的游戏可领取一次礼包并在任意区服兑换；
        .img-birgame
        h3.title-box-pri 平台礼包
        p.text-box-pri 1、包括超值折扣优惠券，身份越高领取到的优惠券折扣越大；<br />2、优惠券需要在领取当月使用；
        .img-birplant

    //.box-pri.none(the-hock='specPackage') 特权礼包
    .box-pri.none(the-hock='a') 特殊身份标
    .box-pri.none(the-hock='b') 优惠券赠
    .box-pri.none(the-hock='c') 生日礼
    .box-pri.none(the-hock='d') 特权礼
    .box-pri.none(the-hock='aa') 特殊身份
    .box-pri.none(the-hock='bb') 优惠券
    .box-pri.none(the-hock='cc') 生日
    .box-pri.none(the-hock='dd') 特权
.clear