if lang == 'zh'
    strong.text-danger 猎豹外文社，
    | 一个注重分享,连接与创新的公司社团。致力于将【
    strong
        span.text-primary 有趣
    |&nbsp;又&nbsp;
    strong
        span.text-success 实用
    |】的西方【
    strong
        span.text-info 科技&nbsp;
    strong
        span.text-info 文化&nbsp;
    strong
        span.text-info 知识
    |】融入到我们的日常工作中，让我们的工作更精彩!

else if lang == 'en'
    strong.text-primary Cheetah Mobile Foreign Language Association(CM FLA)
    |  is a
    strong.text-info  Sharing, Connecting and Innovation
    |  oriented group dedicated to integrate advanced, interesting and practical western technology, culture as well as knowledge into our daily activities and make our work and life much more
    strong.text-success  brilliant and wonderful.