//
   Created by Administrator on 2016/5/11.
doctype html
<!--[if lt IE 7 ]> <html lang="zh" class="ie6"><![endif]-->
<!--[if IE 7 ]><html lang="zh" class="ie7"><![endif]-->
<!--[if IE 8 ]><html lang="zh" class="ie8"><![endif]-->
<!--[if IE 9 ]><html lang="zh" class="ie9"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
html
    <!--<![endif]-->
    head
        title 一元猎宝
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome=1")
        //meta(http-equiv="X-UA-Compatible" content="IE=9")
        //meta(name="renderer" content="webkit")
        link(href="css/base.css" rel="stylesheet" type="text/css")
    body
        div.lbm_top
            div.login
                ul.lg-warp
                    li.lg-icon 请登录
                    li.lg-me
                        a 我的猎宝
                        em
                        ul.lg-inner
                            li.liebaojilv 猎宝记录
                            li.zhongjiangjilu 中奖记录
                    div.clear
                a.aReturn(href="index.html" target="_blank") 返回活动首页
        div.lbm-mostnew
        div.lbm-newList
            //div.lbm-listing
            ul.lbm-listing-ing
                //li
                //    div.lbm-listing-del
                //        div.lbm-img
                //            img(src="images/chongzika.png")
                //        div.lbm-listdel
                //            h2 100元中国移动充值卡
                //            h3 总需：#[em 120]人次
                //            h4 期号：10000025
                //    div.lbm-overtime
                //        p 揭晓倒计时
                //            span.time.lbm-f 0
                //            span.time 0
                //            span.commer :
                //            span.time 0
                //            span.time 0
                //            span.commer :
                //            span.time 0
                //            span.time 0
                //li
                //    div.lbm-listing-del
                //        div.lbm-img
                //            img(src="images/chongzika.png")
                //        div.lbm-listdel
                //            h2 100元中国移动充值卡
                //            h3 总需：#[em 120]人次
                //            h4 期号：10000025
                //    div.lbm-overtime
                //        p 揭晓倒计时
                //            span.time.lbm-f 0
                //            span.time 0
                //            span.commer :
                //            span.time 0
                //            span.time 0
                //            span.commer :
                //            span.time 0
                //            span.time 0
                //li
                //    div.lbm-listing-del
                //        div.lbm-img
                //            img(src="images/chongzika.png")
                //        div.lbm-listdel
                //            h2 100元中国移动充值卡
                //            h3 总需：#[em 120]人次
                //            h4 期号：10000025
                //    div.lbm-lastLottery
                //        p.lb-firstLine
                //            //span 期号：1000440
                //            span.lb-first 恭喜 #[em 001_011] 获得了本期商品
                //            span.lb-sed 本期参与：#[em 10]人次
                //        p.lb-sendLine
                //            span.lb-first 揭晓时间：2016-02-02 09:13:20
                //            span.lb-sed 幸运号码：#[em 10000045]
                //li
                //    div.lbm-listing-del
                //        div.lbm-img
                //            img(src="images/chongzika.png")
                //        div.lbm-listdel
                //            h2 100元中国移动充值卡
                //            h3 总需：#[em 120]人次
                //            h4 期号：10000025
                //    div.lbm-lastLottery
                //        p.lb-firstLine
                //            //span 期号：1000440
                //            span.lb-first 恭喜 #[em 001_011] 获得了本期商品
                //            span.lb-sed 本期参与：#[em 10]人次
                //        p.lb-sendLine
                //            span.lb-first 揭晓时间：2016-02-02 09:13:20
                //            span.lb-sed 幸运号码：#[em 10000045]
                div.clear
        div.lb-mark
        div.lb-doublemark
        div.lb-jilv
            ul#normaltab
                li.current
                    a 猎宝记录
                li
                    a 中奖记录
                div.clear
            div#normalcon
                div.sublist
                    div.lb-molb
                        h1 您还没有猎宝记录，快去猎宝吧！
                        span.lb-backtop 返回首页
                    table.lb-molb-tab
                        thead
                            tr
                                td.lb-goodsInfo 商品信息
                                td.lb-qihao 期号
                                td.lb-can 参与人次
                                td.lb-status 猎宝状态
                        tbody.lb-hunt(total="")
                            //tr.bdbt
                            //    td.lb-goodsshare
                            //        img(src="images/zhanwei3.png")
                            //        div
                            //            h3 产品内容／规格／配置标题
                            //            h5 揭晓时间：2016-05-01 22:10:00
                            //            h6 敬请期待
                            //    td 11
                            //    td 11
                            //    td.lb-waiting 待揭晓
                            //tr
                            //    td.lb-goodsshare
                            //        img(src="images/zhanwei3.png")
                            //        div.lb-overdiv
                            //            h3 产品内容／规格／配置标题
                            //            h4 获得者：#[em 001_11]  (本期参与 #[span 20]人次)
                            //            h5 幸运代码：#[em 10101010101]
                            //            h6 揭晓时间：2016-05-01 22:10:00
                            //    td 期33号
                            //    td 133
                            //    td 猎11宝状态
                    div.lb-paging
                        span.lb-back 返回首页
                        span.lb-pre.lb-pre-hunt 上一页
                        span.lb-currentp 1
                        span.lb-next.lb-n-hunt 下一页
                        span.lb-lastp.lb-l-hunt 最后一页
                div.sublist
                    div.lb-weizhongjiang
                        h1 您还没有中奖，继续加油！
                        span.lb-backtop 返回首页
                    table.lb-table
                        thead
                            tr
                                td.lb-goodsInfo 商品信息
                                td.lb-qihao 期号
                                td.lb-status 猎宝状态
                        tbody.lb-zhongjiangList(total="")
                            //tr.bdbt
                            //    td.lb-goodsshare
                            //        img(src="images/zhanwei3.png")
                            //        div.lb-overdiv
                            //            h3 产品内容／规格／配置标题
                            //            h4 (本期参与 #[span 20]人次)
                            //            h5 幸运代码：#[em 10101010101]
                            //            h6 揭晓时间：2016-05-01 22:10:00
                            //    td 112222222
                            //    td.lb-gettel
                            //        h6 手机号：186******20
                            //        h6 卡号： 12524435**98
                            //        span 已领取
                            //tr
                            //    td.lb-goodsshare
                            //        img(src="images/zhanwei3.png")
                            //        div.lb-overdiv
                            //            h3 产品内容／规格／配置标题
                            //            h4 (本期参与 #[span 20]人次)
                            //            h5 幸运代码：#[em 10101010101]
                            //            h6 揭晓时间：2016-05-01 22:10:00
                            //    td 11111111
                            //    td.lb-tapget 领取奖品
                    div.lb-paging
                        span.lb-back 返回首页
                        span.lb-pre.pre-prize 上一页
                        span.lb-currentp 1
                        span.lb-next.next-prize 下一页
                        span.lb-lastp.last-prize 最后一页
        div.lb-tel
            em
            h1 请确认您的信息
            label 手机号码
            input.phone(type="text")
            h6 请核对后认真填写，一经提交则不能修改!
            p.lb-tel-sub 提  交
        div.lb-game
            em
            h1 请确认您的信息
            label 游戏名称
            input.gameName(type="text")
            br
            label 服务器名称
            input.lb-service(type="text")
            br
            label 角色名称
            input.lb-roleNme(type="text")
            h6 请核对后认真填写，一经提交则不能修改!
            p.lb-tel-sub 提  交
        div.footero
            div.footer
                p.lin
                    a(target="_blank" href="http://wan.liebao.cn/game_list.html") 游戏中心 |
                    a(target="_blank" href="http://wan.liebao.cn/user/?kstag=changeuserinfo") 帐号安全 |
                    a(target="_blank" href="http://wan.liebao.cn/action/redirect_kf.php?gid=1066") 客服中心 |
                    a(target="_blank" href="http://i.wan.liebao.cn/jz/jiazhang.htm") 家长监控
                p 抵制不良游戏　拒绝盗版游戏　注意自我保护　谨防受骗上当　适度游戏益脑　沉迷游戏伤身　合理安排时间　享受健康生活
                p.p3 软著登字第1123541号 | 新广出审[2016]383号
                p.dline
                    span COPYRIGHT ©2012 #[a(href="http://wan.liebao.cn/" target="_blank") WAN.LIEBAO.CN] ALL RIGHTS RESERVED.
        script(type="text/javascript" src="http://img.wan.ijinshan.com/thirdpart/jquery/1.8.2/jquery.min.js?t=201410311102")
        script(type="text/javascript" src="http://wan.liebao.cn/action/user_info.php?rt=5")
        script(type="text/javascript" src="http://img.wan.ijinshan.com/thirdpart/lucky/Helper/Login/1.0.1/Login.min.js?t=201410311102")
        script(type="text/javascript" src="http://img.wan.ijinshan.com/thirdpart/header/1.0.0/header_login.js?t=201410311102")
        script(src="js/jquery.min.js")
        script(src="js/tab.js")
        script(src="js/countDown.js")
        script(src="js/index.js")
        script(type='text/javascript').
            //getMore();
            getMoreover();
