div
    img.img-responsive(src=f.resPath(c, 'images/1_01.jpg'))
    img.img-responsive(src=f.resPath(c, 'images/1_02.jpg'))
    img.img-responsive(src=f.resPath(c, 'images/1_03.jpg'))

    .imgBtn
        img(src=f.resPath(c, 'images/vote.jpg'))
