.main
    p.col-xs-12.text-right
        a.pink 点击可显示大图
    .refresh.clearfix

.btm.clearfix
    .btn.submit
        img.img-responsive(src=f.resPath(c,'images/btn2_03.png'))

.intro
    ul
        li 您仅能选择三套最喜爱的套装进行投票
        li 每人每天仅限投票一次


