.col-xs-3.p0(style='border-right:1px solid #ddd')
    ul.nav.nav-stacked.nav-pills
        each it in side
            li.ent(ent=it)
                a(style='border-radius:0')= ii(it)
.col-xs-9.main.p0