p
.well
    h1 提交成功！
    p &nbsp;

    h4 请牢记您的工单号码为：
        span(style='color:red;font-weight:bold;font-size:35px;') 【#{num}】
        | 查询结果时需要使用，请妥善保存，不要告知他人。
    p &nbsp;

    p
        a(href= location.href.split('#')[0]).btn.btn-info 返回