.news
    h3 最新公告
    ul.refresh

    hr
    .text-center.btns
        p
            a.btn.btn-lg.btn-danger(href= f.navUrl('search')) 账号被盗，装备丢了
                br
                small 进入这里自助找回
        p
            a.btn.btn-lg.btn-primary(href='http://wan.liebao.cn/action/redirect_kf.php' target='_blank') 在线客服
