.panel.panel-default.czb
    .panel-body
        .col-md-5.p0
            p 如果游戏账号内有充值,但您未提供订单信息,
            p 找回申请将不予受理
        .col-md-3
            .btn.btn-primary.btn-lg.showRecord 填写信息
        .col-md-4.text-right
            a.closeBox 无充值点击这里关闭



