.recordItem
    .col-xs-4.date
        input.form-control(placeholder='请选择日期',name='payDate',value= payDate)
    .col-xs-2.p0
        input.form-control(type='text',placeholder='充值金额',name='payPrice', value= payPrice)
    .col-xs-2.pr0
        select.form-control(name='payType')
            option(value=0) 充值方式
            option 网上银行
            option 微信扫一扫
            option 支付宝
            option 手机充值卡
            option 骏网一卡通
            option 先玩后付
    .col-xs-3
        input.form-control(type='text',placeholder='订单号',name='payNum', value= payNum)
    .col-xs-1.p0
        button.btn.btn-danger.del(type='button')!= f.icon('remove')