.panel.panel-default.czb
    .panel-body
        .col-md-5.p0
            p 游戏账号充值记录，必须提交充值订单信息。
            p 充值订单号查询方法，请参考 #[a(style='font-weight: bolder;text-decoration: underline;' target='_blank' href='http://bbs.wan.liebao.cn/forum.php?mod=viewthread&tid=4807051&extra=page%3D1')论坛]
        .col-md-3
            .btn.btn-primary.btn-lg.showRecord 填写信息
        .col-md-4.text-right
            a.closeBox 无充值点击这里关闭


