extends anqu_detail_temp

block detail_style
    link(type='text/css',rel='stylesheet',href='http://static.web.anqu.com/resource/999/css/detail_text.css')
block detail_script

block detail_content
    .detail_text_content
        .text_title
            span.detail_ft_enlarge 安趣奥运活动中奖名单
        .text_info.detail_ft_12
            span(style='margin-right:10px;') 作者： 安趣游戏中心
            span 时间：2016-08-22
        .text_content
            p.detail_ft_enlarge 亲爱的玩家：
            p.text_indent.text_ft_color_default 您好！感谢您参与到金山猎豹游戏中心的奥运活动之中，现在中奖的名单已经火辣出炉，赶紧来看看有没有你的名字吧！说不定，iPhone得主就是您噢！
            p.text_indent.text_ft_color_default 金山猎豹武易传奇以怀旧为主题，依然保有万人参与的沙巴克攻城、即时野外PK等经典回忆。它是首款真正的三端网游，拥有传统页游的网页端和微端，玩家可以随时随地打开网页即玩，也可以秒速下载微端。另外游戏还有客户端模式，将客户端下载到电脑后玩家可享受端游级别的高品质画面和流畅度。技术的支撑是整个游戏的基础，而丰富的副本与战斗，则是这款游戏真正吸引人的地方！
            p.text_indent.text_ft_color_default 金山猎豹武易传奇以怀旧为主题，依然保有万人参与的沙巴克攻城、即时野外PK等经典回忆。它是首款真正的三端网游，拥有传统页游的网页端和微端，玩家可以随时随地打开网页即玩，也可以秒速下载微端。另外游戏还有客户端模式，将客户端下载到电脑后玩家可享受端游级别的高品质画面和流畅度。技术的支撑是整个游戏的基础，而丰富的副本与战斗，则是这款游戏真正吸引人的地方！
            p.text_end.text_ft_color_default 2016年8月22日
            p
                a(href='#',target='_blank',class='text_ft_color_default') 上一篇：金山猎豹武易传奇370服8月15日11点震撼开启
            p
                a(href='#',target='_blank',class='text_ft_color_default') 上一篇：金山猎豹武易传奇370服8月15日11点震撼开启
            p.text_middle
                a(href='#',target='_self',class='text_ft_color_default') 返回
