//
   Created by Yara on 2016/7/1.
ul.box-coverbox-list.clearfix
    each item in items
        li.w25
            a.box-coverbox-list-a(href='javascript:;', data-sid='#{item.webgame_serverid}') #{item.servername}(#{item.webgame_serverid}区)
