//
   Created by Yara on 2016/7/1.
ul.box-coverbox-list.clearfix
    each item in items
        li.w20
            a.box-coverbox-list-a(href='javascript:;', data-id='#{item.webgame_id}') #{item.name}


