//以下为首页服务器列表代码
.anqu_index_server_list
    .anqu_servers_content
        ul.index_game_server_list#index_server_list

        .more_servers_btn
            a(href='',target='_blank',class='index_more_servers_btn') 更多服务器&gt;







