.server_list_page_container
    .server_list_content.server_page_middle
        .select_servers_banner.tx_center
            .select_servers_border.server_page_inline_block(style='margin-top:34px;')
                span.select_banner_left.server_page_inline_block(style='margin-left:36px;padding-bottom:4px;')
                span.server_page_inline_block.server_page_ft_24.server_page_ft_wt_color(style='padding:8px;') 选择服务器
                span.select_banner_right.server_page_inline_block(style='margin-right:36px;padding-bottom:4px;')
        //.recomend_servers_list
            .server_page_ft_22.server_page_ft_wt_color.server_title 推荐服务器：
            .server_page_server_btn.server_page_inline_block.server_page_btn_mg_rt_33.server_page_btn_mg_tp_20
                a.server_page_inline_block(href='#',target='_blank')
                    span.server_name.server_page_ft_16 双线38服
                    span.server_game_name.server_page_ft_16 天降传
                    span.server_status.server_page_ft_16.server_page_ft_wt_color 即将开启
            .server_page_server_btn.server_page_inline_block.server_page_btn_mg_rt_33.server_page_btn_mg_tp_20
                a.server_page_inline_block(href='#',target='_blank')
                    span.server_name.server_page_ft_16 双线38服
                    span.server_game_name.server_page_ft_16 天降传
                    span.server_status.server_page_ft_16.server_page_ft_wt_color 即将开启
            .server_page_server_btn.server_page_inline_block.server_page_btn_mg_tp_20
                a.server_page_inline_block(href='#',target='_blank')
                    span.server_name.server_page_ft_16 双线38服
                    span.server_game_name.server_page_ft_16 天降传
                    span.server_status.server_page_ft_16.server_page_ft_wt_color 即将开启
        .choose_servers_list
            .server_page_ft_22.server_page_ft_wt_color.server_title 选择服务器：

